<p>
    <mat-toolbar color="primary">
        <div class="wrapper">
            <div class="container">
                <div class="logo-container">
                    <img class="logo" [src]="imageSrc" alt="logo" />
                    <span>Automaichi</span>
                </div>
                <span class="spacer"></span>
                <a routerLinkActive="active" mat-button routerLink="/home"
                    >Home</a
                >
                <a routerLinkActive="active" mat-button routerLink="/dashboard"
                    >Dashboard</a
                >
            </div>
        </div>
    </mat-toolbar>
</p>
