.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.spacer {
    flex: 1 1 auto;
}

.page {
    display: grid;
    grid-template-columns:
        minmax(1rem, 1fr) minmax(auto, 1400px)
        minmax(1rem, 1fr);
}

@media (max-width: 450px) {
    .page {
        grid-template-columns: 0px 1fr 0px;
    }
}
