form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

form .full {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 300px;
}

.row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.list .item {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.color-picker-container .color-picker {
    padding-right: 0.5rem;
}
